table caption{
    caption-side: top;
}

td.saveCustomer{
    text-align: center;
}
td.saveCustomer input{
    /*border: 1px solid #ff81c4;*/
}
span{
    margin-left: 10px;
}
label{
    margin-bottom: 0;
}

